<table border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td style="border-right: 2px solid #595957; padding-right: 10px; vertical-align: middle;" valign="middle" width="214px">
				<a href="http://train-it.eu" target="_blank" rel="noopener">
					<img style="display: block;" src="https://bitbucket.org/train-it/train-it_email/raw/63d90be1d795045c99edc135dea1190dd33fd1d0/logo/train_it_200px.png"
				 	 alt="[ Train IT ]" />
				</a>
			</td>
			<td style="vertical-align: middle; padding-left: 18px;" width="170px">
				<table border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td style="font-weight: bold; font-family: Arial; font-size: 18pt; color: #3397cc;">
								Mateusz Pusz
							</td>
						</tr>
						<tr>
							<td style="padding-bottom: 5px; font-weight: bold; font-family: Arial; font-size: 11pt; color: #595957;">
								Founder / C++ Trainer
							</td>
						</tr>
						<tr>
							<td style="font-family: Arial; font-size: 9pt;">
								<a style="color: #595957; text-decoration:none" href="tel:+48608537068" target="_blank" rel="noopener">
									+48 608 537068
								</a>
							</td>
						</tr>
						<tr>
							<td style="padding-top: 5px; vertical-align: middle;" valign="middle">
								<table border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td style="padding-right: 4px;">
												<a href="https://www.linkedin.com/in/mpusz/" target="_blank" rel="noopener">
													<img style="display: block;" src="https://bitbucket.org/train-it/train-it_email/raw/63d90be1d795045c99edc135dea1190dd33fd1d0/icons/linkedin_24x24.png"
													 alt="[L]" />
												</a>
											</td>
											<td style="padding-right: 4px;">
												<a href="https://github.com/mpusz" target="_blank" rel="noopener">
													<img style="display: block;" src="https://bitbucket.org/train-it/train-it_email/raw/63d90be1d795045c99edc135dea1190dd33fd1d0/icons/github_24x24.png"
													 alt="[G]" />
												</a>
											</td>
											<td style="padding-right: 1px;">
												<img style="display: block;" src="https://bitbucket.org/train-it/train-it_email/raw/63d90be1d795045c99edc135dea1190dd33fd1d0/icons/skype_24x24.png"
												 alt="[S]" />
											</td>
											<td style="padding-right: 4px; font-family: Arial; font-size: 9pt; color: #595957;">
												mateusz.pusz
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>